@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@use '@carbon/layout';
@import '~@openmrs/esm-styleguide/src/vars';

.heading {
  @include type.type-style('heading-compact-01');
  margin: spacing.$spacing-05 0 spacing.$spacing-05;
}

.warningContainer {
  background-color: $carbon--red-50;
  padding: spacing.$spacing-04;
  margin: spacing.$spacing-03 0 spacing.$spacing-03;
  display: flex;
  justify-content: space-between;
  .warning {
    @include type.type-style('heading-compact-01');
    color: $ui-05;
  }
}
.formDatePicker input {
  min-width: 24rem;
}
.form {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 20px;
}

.buttonSet {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
  margin-right: spacing.$spacing-04;
}

.grid {
  margin: 0 spacing.$spacing-05;
  padding: 0rem;
}
.textbox {
  margin-bottom: spacing.$spacing-10;
}
.button {
  height: spacing.$spacing-10;
  display: flex;
  align-content: flex-start;
  align-items: baseline;
  min-width: 47.5%;
}

.caseFormTitle {
  @include type.type-style('heading-02');
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: spacing.$spacing-05;
  row-gap: 1.5rem;
  position: relative;

  &::after {
    content: '';
    display: block;
    width: 2rem;
    border-bottom: 0.375rem solid var(--brand-03);
    position: absolute;
    bottom: -0.75rem;
    left: 0;
  }

  & > span {
    @include type.type-style('body-01');
  }
}

.sectionHeader {
  @include type.type-style('heading-02');
  margin-top: spacing.$spacing-05;
}

:global(.omrs-breakpoint-lt-desktop) {
  .form {
    height: var(--tablet-workspace-window-height);
  }

  .buttonSet {
    padding: spacing.$spacing-06 spacing.$spacing-05;
    background-color: $ui-02;
    justify-content: flex-end;
    gap: spacing.$spacing-05;
    padding: 0;
    margin-top: auto;
    display: flex;
    justify-content: end;
  }
}
