@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@use '@carbon/layout';
@import '~@openmrs/esm-styleguide/src/vars';

.heading {
  @include type.type-style('heading-compact-01');
  margin: spacing.$spacing-05 0 spacing.$spacing-05;
}

.warningContainer {
  background-color: $carbon--red-50;
  padding: spacing.$spacing-04;
  margin: spacing.$spacing-03 0 spacing.$spacing-03;
  display: flex;
  justify-content: space-between;
  .warning {
    @include type.type-style('heading-compact-01');
    color: $ui-05;
  }
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  :global(.omrs-breakpoint-lt-desktop) {
    width: 50%;
    padding: spacing.$spacing-06 spacing.$spacing-05;
  }

  .caseFormTitle {
    @include type.type-style('heading-02');
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: spacing.$spacing-05 0 1rem;
    row-gap: 1.5rem;
    position: relative;

    &::after {
      content: '';
      display: block;
      width: 2rem;
      border-bottom: 0.375rem solid var(--brand-03);
      position: absolute;
      bottom: -0.75rem;
      left: 0;
    }

    & > span {
      @include type.type-style('body-01');
    }
  }

  .buttonSet {
    padding: 0rem;
    margin-top: spacing.$spacing-03;
    display: flex;
    justify-content: flex-end;
    gap: spacing.$spacing-05;
    margin-bottom: spacing.$spacing-07;

    :global(.omrs-breakpoint-lt-desktop) {
      justify-content: center;
    }
  }

  :global(.omrs-breakpoint-lt-desktop) {
    width: 768px;
  }
}

.grid {
  margin: 0 spacing.$spacing-05;
  padding: 0rem;
}

.input {
  margin-top: spacing.$spacing-05;
}

.button {
  height: spacing.$spacing-08;
  display: flex;
  align-content: flex-start;
  align-items: baseline;
  min-width: 20%;
}

.buttonSet {
  padding: 0rem;
  margin-top: spacing.$spacing-05;
  display: flex;
  justify-content: flex-end;
  gap: spacing.$spacing-05;
  margin-bottom: spacing.$spacing-07;
}

.caseFormTitle {
  @include type.type-style('heading-02');
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: spacing.$spacing-05 0 spacing.$spacing-03;
  row-gap: 1.5rem;
  position: relative;

  &::after {
    content: '';
    display: block;
    width: 2rem;
    border-bottom: 0.375rem solid var(--brand-03);
    position: absolute;
    bottom: -0.75rem;
    left: 0;
  }

  & > span {
    @include type.type-style('body-01');
  }
}

:global(.omrs-breakpoint-lt-desktop) {
  .buttonSet {
    padding: spacing.$spacing-06 spacing.$spacing-05;
    background-color: $ui-02;
    justify-content: flex-end;
    gap: spacing.$spacing-05;
  }
}

.formCaseRow {
  display: flex;
  flex-wrap: nowrap;
  gap: spacing.$spacing-05;
  align-items: center;
}

.formCaseColumn {
  flex: 1 1 0%;
}
