@use '@carbon/colors';
@use '@carbon/type';
@use '@carbon/layout';

.link {
  text-decoration: none;
}
.table {
  border: 1px solid colors.$gray-20;
}

.priorityPill {
  @include type.type-style('label-01');
  background-color: colors.$gray-20;
  border-radius: layout.$spacing-05;
  padding: layout.$spacing-01 layout.$spacing-03;
  text-align: center;

  // Match data attribute emitted by the component and real urgency values
  &[data-priority='urgent'] {
    background-color: colors.$green-20;
  }

  &[data-priority='emergency'] {
    background-color: colors.$red-20;
  }

  &[data-priority='not urgent'] {
    background-color: colors.$gray-20;
  }
}
