@use '@carbon/layout';

.desktopHeading {
  padding-left: 16rem;
  margin-right: 3rem;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;

  :global(.cds--inline-loading) {
    width: unset;
  }
}

.patientEncounterContainer {
  margin: layout.$spacing-05;
}
