@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@use '@carbon/layout';
@use '@carbon/colors';
@import '~@openmrs/esm-styleguide/src/vars';

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  height: 100%;
  align-items: center;
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: spacing.$spacing-08 spacing.$spacing-05 0 spacing.$spacing-05;
}

.heading {
  @include type.type-style('heading-compact-01');
  margin: spacing.$spacing-05 0 spacing.$spacing-05;
}

.datePickerInput span,
.datePickerInput div,
.datePickerInput input,
.datePickerInput {
  width: 100% !important;
}

.grid {
  margin: spacing.$spacing-05 spacing.$spacing-05;
  padding: spacing.$spacing-05 0rem 0rem orem;
}

.buttonSet {
  width: 100%;
  padding-top: spacing.$spacing-05;
  background-color: $ui-02;
  justify-content: space-between;
  bottom: 0;
  position: absolute;
  & > button {
    max-width: 50% !important;
    width: 50%;
  }
}

.formTitle {
  @include type.type-style('heading-02');
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: spacing.$spacing-05;
  row-gap: 1.5rem;
  position: relative;

  &::after {
    content: '';
    display: block;
    width: 2rem;
    border-bottom: 0.375rem solid var(--brand-03);
    position: absolute;
    bottom: -0.75rem;
    left: 0;
  }

  & > span {
    @include type.type-style('body-01');
  }
}

.sectionHeader {
  @include type.type-style('heading-02');
}
