@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/type';

.invoiceContainer {
  background-color: colors.$gray-10;
  height: calc(100vh - 3rem);
}

.errorContainer {
  margin: layout.$spacing-05;
}

.loader {
  display: flex;
  min-height: layout.$spacing-09;
  justify-content: center;
}

.detailsContainer {
  display: flex;
}

.details {
  display: flex;
  flex: 3;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  margin: layout.$spacing-05;
  row-gap: 1.5rem;
}

.backButton {
  margin: layout.$spacing-04;

  button {
    display: flex;
    padding-left: 0 !important;

    svg {
      order: 1;
      margin-right: layout.$spacing-03;
      margin-left: 0 !important;
    }

    span {
      order: 2;
    }
  }
}

.button {
  margin-left: layout.$spacing-04;
  min-width: 10rem;
}

.invoicePaymentsContainer {
  display: flex;
  flex-direction: column;
  margin: layout.$spacing-05;
}

.paymentSection {
  display: flex;
  flex-direction: row;
}

.billDetail {
  font-weight: bold;
  color: colors.$cool-gray-90;
}

@media screen {
  .printContainer {
    background-color: colors.$white;
    display: none;
  }
}

@media print {
  html,
  body {
    background-color: colors.$white !important;
  }
}

.actionArea {
  margin: 0.625rem;
  padding-top: 0.625rem;
  display: flex;
  justify-content: flex-end;
  column-gap: 0.325rem;
  border-top: 1px solid colors.$gray-20;

  & > button {
    max-height: 2rem;
  }
}

.invoiceSummaryContainer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: layout.$spacing-05;
  margin: 0 layout.$spacing-05 layout.$spacing-05 layout.$spacing-05;
  background-color: colors.$white;
  padding: layout.$spacing-05;

  .divider {
    width: 1px;
    background-color: colors.$gray-20;
    margin: 0 layout.$spacing-05;
  }
}

.invoiceSummaryItem {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: layout.$spacing-05;
  justify-content: center;

  .label {
    @include type.type-style('legal-02');
    color: colors.$gray-70;
  }

  .value {
    @include type.type-style('heading-01');
    color: colors.$gray-70;
  }
}

.invoiceSummary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: layout.$spacing-05 layout.$spacing-05 0 layout.$spacing-05;
  background-color: colors.$white;
  border-bottom: 1px solid colors.$gray-20;
  padding: layout.$spacing-01 layout.$spacing-04;

  .invoiceSummaryActions {
    display: flex;
    gap: layout.$spacing-04;
  }
  .invoiceSummaryTitle {
    @include type.type-style('heading-01');
    color: colors.$gray-70;
  }
}

.popoverContent {
  display: flex;
  flex-direction: column;
  gap: layout.$spacing-01;

  & > button {
    width: 100%;
  }
}

.printButton {
  svg {
    fill: colors.$blue-60;
  }
}
