@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/type';

.providerBanner {
  position: relative;
  padding: layout.$spacing-03 layout.$spacing-05;
}

.bannerContent {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: layout.$spacing-04;
}

.infoItem {
  display: flex;
  align-items: center;
  gap: 6px;
  flex-wrap: wrap;
}

.divider {
  width: 1px;
  height: layout.$spacing-06;
  background-color: rgba(244, 244, 244, 0.4);
  margin-inline-start: layout.$spacing-04;
}
.label {
  color: colors.$white;
  font-weight: 500;
  white-space: nowrap;

  &::after {
    content: '';
    margin-left: layout.$spacing-01;
  }
}

.value {
  color: colors.$white;
  font-weight: 600;
  font-size: 1rem;
  white-space: nowrap;
}

.hwiValue {
  font-size: 0.875rem; 
}

.loading {
  text-align: center;
  padding: layout.$spacing-03 0;
}