@use '@carbon/layout';
@use '@carbon/colors';
@use '@carbon/type';

.sideMenuItems {
  padding: 0;

  :global(.cds--side-nav__link.active-left-nav-link) {
    padding: 0 1.75rem;
  }
}

.childMenuItems {
  padding-left: layout.$spacing-02;
}

.sideNavMenu {
  :global(.cds--side-nav__submenu) {
    padding-left: layout.$spacing-06;
  }
}
