@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/type';
@import '~@openmrs/esm-styleguide/src/vars';

.backButton {
  margin: layout.$spacing-04;
}
.loader {
  display: flex;
  min-height: layout.$spacing-09;
  justify-content: center;
}
.errorContainer {
  margin: layout.$spacing-05;
}

.preAuthMainContainer {
  display: flex;
  margin: 0 auto;
  padding: 0 layout.$spacing-05;
}

.content {
  display: flex;
  width: 100%;
}

:global(.omrs-breakpoint-lt-desktop) {
  .preAuthMainContainer {
    flex-direction: column;
  }

  .content {
    flex-direction: column;
  }
}

.preAuthMainContainer,
.form {
  flex: 1;
}
