@use '@carbon/colors';
@use '@carbon/type';
@use '@carbon/layout';

.pageHeader {
  border-bottom: 1px solid colors.$gray-20;
  margin-bottom: layout.$spacing-05;
}

.cards {
  display: flex;
  flex-direction: row;
}
