@use '@carbon/layout';
@use '@carbon/type';
@use '@carbon/colors';

.pageHeader {
  @include type.type-style('body-compact-02');
  height: layout.$spacing-12;
  display: flex;
  justify-content: space-between;
  padding: layout.$spacing-05;
  background: colors.$white-0;
  border-bottom: 1px solid colors.$gray-20;
}

.cards {
  display: flex;
  flex-direction: row;
}
