@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/type';

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.formContainer {
  margin-right: layout.$spacing-05;
  margin-left: 0;
  margin-top: layout.$spacing-05;
  margin-bottom: layout.$spacing-05;
}

.tablet {
  padding: layout.$spacing-06 layout.$spacing-05;
  background-color: colors.$white;
}

.desktop {
  padding: 0;
  width: 100%;
}

.formStackControl {
  row-gap: layout.$layout-01;
}
.checkBoxColumn {
  background-color: colors.$gray-10;
  margin: layout.$spacing-05;
}

.listItem {
  list-style: none;
  padding: 10px;
  cursor: pointer;
  background-color: colors.$gray-10;
  font-size: 14px;
}

.listItem.active {
  background-color: colors.$gray-20;
}

.checkboxLabelSingleLine {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  font-size: medium;
}

.checkboxGroupGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1rem;
  column-gap: 0.5rem;
  font-size: 14px;
  :global(.cds--fieldset-legend) {
    font-size: 18px;
  }
}

.CheckboxGroup .bx--fieldset-legend {
  font-size: 18px;
}

.btn {
  min-width: 50%;
}

.checkboxLabelSelected {
  background-color: colors.$green-10;
  border-radius: 4px;
  padding: 4px;
  display: flex;
  align-items: center;
  font-size: medium;
  transition: background-color 0.3s ease;
  font-size: 13px;
}

.checkboxLabel {
  background-color: transparent;
  border-radius: 4px;
  padding: 4px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
  font-size: 13px;
}

.leftTabsContainer {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  overflow: hidden;
}

.leftTabsLayout {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.tabList {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  background-color: white;
  padding: 0;
}

.tabPanels {
  flex: 1;
  padding: 16px;
  // background-color: red;
}

@media (max-width: 768px) {
  .leftTabsLayout {
    flex-direction: column;
  }

  .tabList {
    flex-direction: row;
    border-right: none;
    border-bottom: 1px solid #e0e0e0;
    min-width: unset;
    justify-content: space-between;
  }

  .tabList {
    padding: 8px;
    flex: 1;
    text-align: center;
  }

  .tabList {
    border-left: red;
    border-bottom: 8px solid #0f62fe;
  }
}

.multilineCheckboxLabel .cds--checkbox-label {
  display: block;
  white-space: normal;
  word-wrap: break-word;
  line-height: 1.4;
}

