@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/type';

.invoiceBreakdown {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-end;
}

.label {
  @include type.type-style('heading-02');
  color: colors.$gray-70;
  margin: layout.$spacing-01;
  text-align: end;
}

.value {
  @include type.type-style('heading-02');
  margin-top: layout.$spacing-04;
  text-align: start;
  margin-left: layout.$spacing-02;
  color: colors.$black;
}
