@use '@carbon/colors';
@use '@carbon/layout';

.container {
  display: flex;
  gap: layout.$spacing-03;
  align-items: center;
  justify-content: flex-end;
  margin-top: layout.$spacing-05;
  margin-bottom: layout.$spacing-05;
}