@use '@carbon/colors';
@use '@carbon/layout';

.cardContainer {
  background-color: colors.$white-0;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  justify-content: space-between;
  padding: layout.$spacing-05;
}
