@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@use '@carbon/colors';
@use '@openmrs/esm-styleguide/src/vars' as *;
@use '../../root.scss';

.widgetContainer {
  background-color: colors.$white;
  margin-bottom: 1rem;
  padding: 1rem 0.625rem;
}

.widgetHeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: spacing.$spacing-04 0 spacing.$spacing-04 spacing.$spacing-05;
}

.widgetHeaderContainer > h4:after {
  content: '';
  display: block;
  width: 2rem;
  padding-top: 0.188rem;
  border-bottom: 0.375rem solid var(--brand-03);
}

.newServiceEnrolmentBtn {
  margin-bottom: 0.5em;
  text-align: right;
}

.newServiceEnrolmentBtn > button {
  background-color: colors.$white;
}

.widgetContainer :global(.cds--data-table) thead th button span {
  height: unset !important;
}

.tile {
  text-align: center;
}

.emptyStateContainer {
  margin: 2rem 0;
}

.content {
  @extend .productiveHeading01;
  color: $text-02;
  margin-top: spacing.$spacing-05;
  margin-bottom: spacing.$spacing-03;
}

.errorContainer {
  margin: spacing.$spacing-05;
}
