@use '@carbon/colors';
@use '@carbon/styles/scss/spacing';
@use '@carbon/layout';
@use '@carbon/type';
@use '~@openmrs/esm-styleguide/src/vars' as *;

.widgetContainer {
  background-color: colors.$white-0;
  border: 1px solid colors.$gray-20;
  margin-bottom: 1rem;
}

.widgetContainer :global(.cds--data-table) thead th button span {
  height: unset !important;
}

.tile {
  text-align: center;
}

.emptyStateContainer {
  margin: 2rem 0;
}

.content {
  @include type.type-style('heading-compact-01');
  color: colors.$gray-70;
  margin-top: layout.$layout-05;
  margin-bottom: layout.$spacing-03;
  align-self: center;
}

.desktopHeading,
.tabletHeading {
  text-align: left;
  text-transform: capitalize;

  h4 {
    @include type.type-style('heading-compact-02');
    color: colors.$gray-70;

    &:after {
      content: '';
      display: block;
      width: 2rem;
      padding-top: 3px;
      border-bottom: 0.375rem solid;
      @include brand-03(border-bottom-color);
    }
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
  background-color: colors.$white-0;
  padding: layout.$spacing-05;

  .cardContainer {
    display: flex;
    flex-direction: column;
    row-gap: layout.$spacing-01;

    .label {
      @include type.type-style('body-compact-01');
      color: colors.$gray-100;
    }

    .value {
      @include type.type-style('label-01');
      color: colors.$gray-80;
    }
  }
}
