.mainContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 1rem;
}

.content {
  display: flex;
  flex-direction: column;
}

:global(.omrs-breakpoint-lt-desktop) {
  .mainContainer {
    flex-direction: column;
  }

  .content {
    flex-direction: row;
  }
}

.claimContainer,
.form {
  flex: 1;
}
