.mainContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 768px) {
  .mainContainer {
    flex-direction: column;
  }

  .content {
    flex-direction: row;
    gap: 2rem;
  }
}

.claimContainer,
.form {
  flex: 1;
}
