@use '@carbon/type';

.modalHeaderLabel {
  @include type.type-style('label-02');
}

.modalHeaderHeading {
  @include type.type-style('heading-compact-02');
}

.button_spinner {
  padding: 0;
  margin-right: 12px;
}

.loading_wrapper {
  display: flex;
  align-items: center;
}
