@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@use '@carbon/layout';
@use '@carbon/colors';

.heading {
  @include type.type-style('heading-compact-01');
  margin: spacing.$spacing-05 0 spacing.$spacing-05;
}

.grid {
  margin: spacing.$spacing-05 spacing.$spacing-05;
  padding: spacing.$spacing-05 0rem 0rem orem;
}

.billingItem {
  margin-top: spacing.$spacing-10;
  overflow-x: auto;
}

.button {
  height: layout.$spacing-10;
  display: flex;
  align-content: flex-start;
  align-items: baseline;
  min-width: 50%;
}
