@use '@carbon/layout';

.billManagerContainer {
  margin: layout.$layout-01;
  row-gap: layout.$layout-01;
}

.billListContainer {
  background-color: white;
}

.dataTableSkeleton {
  margin-top: 0.625rem;
}

.refundedItem {
  background-color: #fee2e2;
}

.refundedItem:hover {
  background-color: #fecaca !important;
}

.refundedItem:active {
  background-color: #fca5a5 !important;
}
