@use '@carbon/layout';
@use '@carbon/colors';

.billManagerContainer {
  margin: layout.$layout-01;
  row-gap: layout.$layout-01;
}

.billListContainer {
  background-color: colors.$white-0;
}

.dataTableSkeleton {
  margin-top: layout.$spacing-05;
}

.refundedItem {
  background-color: colors.$red-20;

  &:hover {
    background-color: colors.$red-30 !important;
  }

  &:active {
    background-color: colors.$red-40 !important;
  }
}
