@use '@carbon/colors';
@use '@carbon/layout';

.flagContainer {
  margin: layout.$spacing-05;
}

.tag {
  background-color: #ffff00; // not present in carbon colors
  color: colors.$black;
  padding: layout.$spacing-03;
  cursor: pointer;
}
