@use '@carbon/layout';

.tableContainer {
  display: flex;
  flex-direction: column;

  & > section {
    position: relative;
    margin-bottom: layout.$spacing-02;
  }
}

.iconMarginLeft {
  margin-left: layout.$spacing-05;
}

.bulkUploadButton {
  margin-right: layout.$spacing-05;
}
