@use '@carbon/layout';
@use '@carbon/colors';
@use '@carbon/type';

.navLinkItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: layout.$spacing-12;
  min-width: 7.5rem;
  height: 7rem;
  justify-content: center;
  background-color: colors.$cool-gray-10;
  cursor: pointer;
  row-gap: layout.$spacing-05;

  & > span {
    @include type.type-style('body-01');
  }

  &:hover {
    background-color: colors.$cool-gray-20;
  }
}
