@use '@carbon/layout';
@use '@carbon/colors';
@use '@carbon/type';

.card {
  background-color: colors.$white;
  padding: layout.$spacing-05;
  border: 1px solid colors.$gray-20;
  width: 100%;

  .title {
    @include type.type-style('heading-02');
  }

  .value {
    @include type.type-style('heading-06');
    margin-top: layout.$layout-03;
    color: colors.$gray-70;
  }
}
