@use '@carbon/layout';

.encounterContainer {
  display: flex;
  flex-direction: column;
  gap: layout.$spacing-05;
  padding: layout.$spacing-05;
}

.encounterTable {
  display: flex;
  flex-direction: column;

  & > section {
    position: sticky;
    top: 0;
  }
}

.pagination {
  overflow: hidden;

  &:global(.cds--pagination) {
    border-top: none;
  }
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;

  :global(.cds--inline-loading) {
    width: unset;
  }
}
