@use '@carbon/layout';
@use '@carbon/type';
@use '@carbon/colors';

.header {
  @include type.type-style('body-compact-02');
  height: layout.$spacing-12;
  display: flex;
  justify-content: space-between;
  padding: layout.$spacing-05;
  border: 1px solid colors.$gray-20;
}

.left-justified-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  align-items: center;
}

.right-justified-items {
  @include type.type-style('body-compact-02');
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-name {
  @include type.type-style('heading-04');
}

.page-labels {
  margin: layout.$spacing-03;

  p:first-of-type {
    margin-bottom: layout.$spacing-02;
  }
}

.date-and-location {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.userContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: layout.$spacing-05;
}

.value {
  margin-left: layout.$spacing-02;
}

.middot {
  margin: 0 layout.$spacing-03;
}

.view {
  @include type.type-style('label-01');
}
.svgContainer svg {
  width: layout.$spacing-10;
  height: layout.$spacing-10;
  fill: var(--brand-03);
}
