@use '@carbon/styles/scss/type';
@use '@carbon/styles/scss/spacing';
@use '@carbon/colors';
@import '~@openmrs/esm-styleguide/src/vars';

.desktopHeading {
  h4 {
    @include type.type-style('heading-compact-02');
    color: $text-02;
  }
}

.tabletHeading {
  h4 {
    @include type.type-style('heading-03');
    color: $text-02;
  }
}

.desktopHeading,
.tabletHeading {
  text-align: left;
  text-transform: capitalize;
  margin-bottom: spacing.$spacing-02;
  margin-top: spacing.$spacing-02;

  h4:after {
    content: '';
    display: block;
    width: 2rem;
    padding-top: 0.188rem;
    border-bottom: 0.375rem solid var(--brand-03);
  }
}

.heading:after {
  content: '';
  display: block;
  width: 2rem;
  padding-top: 0.188rem;
  border-bottom: 0.375rem solid var(--brand-03);
}

.card {
  background-color: $ui-02;
  margin-top: spacing.$spacing-03;
  background-color: #f4f4f4;
}

.btnEdit {
  margin-left: auto;
}

.btnDiscontinue {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.btnItem {
  margin: 1rem;
}

.labelContainer {
  display: flex;
  flex-direction: row;
  padding-left: 1rem;
  flex-wrap: wrap;
}

.value {
  @include type.type-style('productive-heading-03');
  color: colors.$gray-100;
}

.content {
  margin-top: spacing.$spacing-05;
  width: 30%;
  margin-left: spacing.$spacing-03;
}
