@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';

.container {
  margin: spacing.$spacing-05;

  & section {
    margin: spacing.$spacing-05 0;
  }
}

.heading {
  @include type.type-style('heading-03');

  margin: spacing.$spacing-05;
}

.sectionTitle {
  @include type.type-style('heading-compact-02');
  color: $text-02;
  margin: 0 0 spacing.$spacing-03 0;
}
.stackSection {
  row-gap: 1rem;
  padding: 0 1rem;
}
