@use '@carbon/layout';
@use '@carbon/colors';

.summaryContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: layout.$spacing-05;
  padding: layout.$spacing-05;
}

.summaryCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: layout.$spacing-05;
  padding: layout.$spacing-05;
  border: 1px solid colors.$gray-20;
  width: 100%;
  height: 7.875rem;
  background-color: colors.$white;
}

.dateRangePicker {
  flex-grow: unset;
}
.filterContainer {
  display: flex;
  flex-wrap: wrap;
  gap: layout.$spacing-05;
  text-align: end;
  align-items: center;
  justify-content: flex-end;
  padding: layout.$spacing-05;
}
