@use '@carbon/colors';
@import '~@openmrs/esm-styleguide/src/vars';

.rejectOrders {
  &:hover {
    background-color: colors.$red-70-hover;
    color: colors.$white;
  }
}

.single-line-display {
  white-space: nowrap;
}
