@use '@carbon/layout';
@use '@carbon/colors';

.paymentModeAttributes {
  display: flex;
  flex-direction: column;
  gap: layout.$spacing-05;
  outline: 1px solid colors.$gray-10;
  padding: layout.$spacing-05;
}
