@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '../../root.scss';

.widgetContainer {
  background-color: $ui-background;
  border: 1px solid #e0e0e0;
  margin-bottom: 1rem;
}

.widgetContainer :global(.cds--data-table) thead th button span {
  height: unset !important;
}

.tile {
  text-align: center;
  margin: 1rem;
}

.emptyStateContainer {
  margin: 2rem 0;
}

.content {
  @extend .productiveHeading01;
  color: $text-02;
  margin-top: spacing.$spacing-05;
  margin-bottom: spacing.$spacing-03;
}

.desktopHeading,
.tabletHeading {
  text-align: left;
  text-transform: capitalize;

  h4 {
    @include type.type-style('heading-compact-02');
    color: $text-02;

    &:after {
      content: '';
      display: block;
      width: 2rem;
      padding-top: 3px;
      border-bottom: 0.375rem solid;
      @include brand-03(border-bottom-color);
    }
  }
}
