@use '@carbon/colors';
@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';

.contentSwitcherWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: spacing.$spacing-05;
}
.contentSwitcher {
  width: 50rem;
}

.rightButton {
  --cds-layout-size-height-context: var(--cds-layout-size-height-sm, 2rem);
  --cds-layout-size-height: var(--cds-layout-size-height-context);
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 spacing.$spacing-04;
}
