@use '@carbon/layout';
@use '@carbon/type';
@use '@carbon/colors';

.compartmentDivider {
  background-color: colors.$gray-80;
  color: colors.$white;
  padding: layout.$spacing-02;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95.4%;

  :global(.omrs-breakpoint-lt-desktop) & {
    padding: layout.$spacing-01;
    width: 92%;
  }
}

.compartmentDividerLine {
  height: 1px;
  background-color: colors.$white;
  width: 30%;
}
