@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/type';

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.formContainer {
  display: flex;
  flex-direction: column;
  margin: layout.$spacing-05;
  row-gap: layout.$spacing-03;
}

.formField {
  margin-bottom: layout.$spacing-05;
  @include type.type-style('label-02');
  color: colors.$gray-70;
}

.button {
  height: layout.$spacing-10;
  display: flex;
  align-content: flex-start;
  align-items: baseline;
  min-width: 50%;
}

.tablet {
  padding: layout.$spacing-06 layout.$spacing-05;
  background-color: colors.$white-0;
}

.desktop {
  padding: 0;
}
