@use '@carbon/layout';
@use '@carbon/type';
@use '@carbon/colors';

.tabsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: layout.$spacing-05;
}

.actionBtn {
  display: flex;
  margin-right: layout.$spacing-03;
}
