@use '@carbon/layout';
@use '@carbon/type';
@use '@carbon/colors';
.container {
  padding: layout.$spacing-05;
}

.section {
  margin-top: layout.$spacing-06;
  background-color:colors.$white;
  padding: layout.$spacing-05;
  margin-bottom: layout.$spacing-06;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: layout.$spacing-05;
  margin-bottom: layout.$spacing-05;
}

.field {
  display: flex;
  flex-direction: column;
  gap: layout.$spacing-02;
}

.label {
  @include type.type-style('label-01');
  font-weight: 600;
  text-transform: uppercase;
}

.value {
  @include type.type-style('body-short-01');
}

.totalContainer {
  display: flex;
  justify-content: space-between;
  padding: layout.$spacing-05;
  border-radius: layout.$spacing-02;
  margin-top: layout.$spacing-03;
}

.totalLabel {
  @include type.type-style('body-short-01');
  font-weight: 600;
}

.totalValue {
  @include type.type-style('heading-compact-01');
  font-weight: 600;
}