@use '@carbon/layout';
@use '@carbon/type';
@use '@carbon/colors';
// @import '~@openmrs/esm-styleguide/src/vars';
.container {
  background-color: colors.$white;
}

.tabs {
  margin: 0 layout.$spacing-05;
}

.headingContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.desktopHeading,
.tabletHeading {
  text-align: left;
  text-transform: capitalize;

  h4 {
    @include type.type-style('heading-compact-02');
    // color: $text-02;

    &:after {
      content: '';
      display: block;
      width: 2rem;
      padding-top: 3px;
      border-bottom: 0.375rem solid;
      // @include brand-03(border-bottom-color);
    }
  }
}

.actionBtn {
  display: flex;
  gap: 0.5rem;
}
