@use '@carbon/layout';
@use '@carbon/type';
@use '@carbon/colors';
@import '~@openmrs/esm-styleguide/src/vars';

.formButton {
  height: layout.$spacing-09;
  display: flex;
  align-content: flex-start;
  align-items: baseline;
  min-width: layout.$spacing-09;
  margin-bottom: layout.$spacing-05;
}
.errorMessage {
  color: colors.$red-60;
  font-size: layout.$spacing-04;
  line-height: layout.$spacing-05;
}

.formButtonSet {
  margin-top: layout.$spacing-11;
  display: flex;
  justify-content: center;
  margin-left: layout.$spacing-05;
}

.formHeaderSection {
  @include type.type-style('heading-02');
  display: flex;
  align-items: center;
  justify-content: space-between;
  row-gap: layout.$spacing-06;
  position: relative;

  &::after {
    content: '';
    display: block;
    width: layout.$spacing-07;
    border-bottom: 0.375rem solid var(--brand-03);
    position: absolute;
    bottom: -0.75rem;
    left: 0;
  }

  & > span {
    @include type.type-style('body-01');
  }
}
.formSubheaderSection {
  @include type.type-style('heading-02');
  margin-top: layout.$spacing-05;
}
.formContainer {
  width: 100%;
}
.formGrid {
  margin: 0 layout.$spacing-05;
  padding: 0rem;
}
.formGender {
  color: colors.$gray-70;
  display: inline-block;
  font-size: layout.$spacing-04;
  line-height: layout.$spacing-05;
  line-height: layout.$spacing-05;
  margin-bottom: layout.$spacing-03;
  vertical-align: baseline;
}
.formHeaderSection {
  @include type.type-style('heading-02');
  margin-top: layout.$spacing-04;
  margin-bottom: layout.$spacing-02;
}
.formRoleLabel {
  color: colors.$gray-40;
}
.formLicenseLabel {
  color: colors.$gray-70;
  display: inline-block;
  font-size: layout.$spacing-04;
  line-height: layout.$spacing-05;
  margin-bottom: layout.$spacing-02;
  vertical-align: baseline;
}
.formLicenseTag {
  width: layout.$spacing-13;
  font-weight: 600;
  padding: layout.$spacing-03;
}
.formDatePicker input {
  min-width: 24rem;
}
.formRow {
  display: flex;
  align-items: center;
}

.formSearchButton {
  margin-left: layout.$spacing-03;
}
.formComboxBox {
  align-items: center;
  display: flex;
}

.loadingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
