@use '@carbon/layout';
@use '@carbon/type';
@use '@carbon/colors';
@import '~@openmrs/esm-styleguide/src/vars';

.form__button {
  height: layout.$spacing-09;
  display: flex;
  align-content: flex-start;
  align-items: baseline;
  min-width: layout.$spacing-09;
  margin-bottom: layout.$spacing-05;
}
.error_message {
  color: colors.$red-60;
  font-size: layout.$spacing-04;
  line-height: layout.$spacing-05;
}

.form__button_set {
  margin-top: layout.$spacing-11;
  display: flex;
  justify-content: center;
  margin-left: layout.$spacing-05;
}

.form__header__section {
  @include type.type-style('heading-02');
  display: flex;
  align-items: center;
  justify-content: space-between;
  row-gap: layout.$spacing-06;
  position: relative;

  &::after {
    content: '';
    display: block;
    width: layout.$spacing-07;
    border-bottom: 0.375rem solid var(--brand-03);
    position: absolute;
    bottom: -0.75rem;
    left: 0;
  }

  & > span {
    @include type.type-style('body-01');
  }
}
.form__subheader__section {
  @include type.type-style('heading-02');
  margin-top: layout.$spacing-05;
}
.form__container {
  width: 100%;
}
.form__grid {
  margin: 0 layout.$spacing-05;
  padding: 0rem;
}
.form__gender {
  color: colors.$gray-70;
  display: inline-block;
  font-size: layout.$spacing-04;
  line-height: layout.$spacing-05;
  line-height: layout.$spacing-05;
  margin-bottom: layout.$spacing-03;
  vertical-align: baseline;
}
.form__header__section {
  @include type.type-style('heading-02');
  margin-top: layout.$spacing-04;
  margin-bottom: layout.$spacing-02;
}
.form__role_label {
  color: colors.$gray-40;
}
.form__license_label {
  color: colors.$gray-70;
  display: inline-block;
  font-size: layout.$spacing-04;
  line-height: layout.$spacing-05;
  margin-bottom: layout.$spacing-02;
  vertical-align: baseline;
}
.form__license__tag {
  width: layout.$spacing-13;
  font-weight: 600;
  padding: layout.$spacing-03;
}
.form__date__picker input {
  min-width: 24rem;
}
.form__row {
  display: flex;
  align-items: center;
}

.form__search-button {
  margin-left: layout.$spacing-03;
}
.form__combox_box {
  align-items: center;
  display: flex;
}

.loadingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
