@use '@carbon/colors';
@use '@carbon/layout';

.bedLayoutContainer {
  background-color: colors.$white-0;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  justify-content: space-between;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding: layout.$spacing-02;
  max-height: calc(100vh - 200px);
  gap: 1rem;
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: colors.$white-0;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: colors.$gray-30;
    border-radius: 4px;

    &:hover {
      background: colors.$gray-40;
    }
  }
}

.bedLayoutWrapper {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.emptyState {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  color: colors.$gray-60;
  font-style: italic;
}
.searchContainer {
  padding: layout.$spacing-02;
  margin-bottom: layout.$spacing-02;
}
