@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/type';
@import '~@openmrs/esm-styleguide/src/vars';

.expansionTileRowContainer {
  display: flex;
  flex-direction: row;
  gap: layout.$spacing-03;
  align-items: center;
  background-color: transparent;
}

.expansionTileLayer {
  width: 100%;
}

.expansionTileChildrenContainer {
  padding-left: layout.$spacing-10;
}

.subtitleColor {
  color: colors.$gray-70;
}

.expansionPannelContainer {
  padding: layout.$spacing-05;
  background-color: colors.$white;
}

.treeviewItemContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: layout.$spacing-02;
}

.blGray {
  border-left: solid 0.2rem colors.$blue-30;
}

.treeColor {
  color: colors.$blue-30;
}
