@use '@carbon/type';
@use '@carbon/layout';
@use '@carbon/colors';

.heading {
  @include type.type-style('heading-compact-01');
  margin: layout.$spacing-05 0 layout.$spacing-05;
}

.warningContainer {
  background-color: colors.$red-50;
  padding: layout.$spacing-04;
  margin: layout.$spacing-03 0 layout.$spacing-03;
  display: flex;
  justify-content: space-between;
  .warning {
    @include type.type-style('heading-compact-01');
    color: colors.$gray-100;
  }
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: colors.$white;

  :global(.omrs-breakpoint-lt-desktop) {
    width: 50%;
    padding: layout.$spacing-06 layout.$spacing-05;
  }

  .claimFormTitle {
    @include type.type-style('heading-02');
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: layout.$spacing-05 0 1rem;
    row-gap: 1.5rem;
    position: relative;

    &::after {
      content: '';
      display: block;
      width: 2rem;
      border-bottom: 0.375rem solid var(--brand-03);
      position: absolute;
      bottom: -0.75rem;
      left: 0;
    }

    & > span {
      @include type.type-style('body-01');
    }
  }

  .buttonSet {
    padding: 0rem;
    margin-top: layout.$spacing-03;
    display: flex;
    justify-content: flex-end;
    gap: layout.$spacing-05;
    margin-bottom: layout.$spacing-07;

    :global(.omrs-breakpoint-lt-desktop) {
      justify-content: center;
    }
  }

  :global(.omrs-breakpoint-lt-desktop) {
    width: 768px;
  }
}

.grid {
  margin: 0 layout.$spacing-05;
  padding: 0rem;
}

.input {
  margin-top: layout.$spacing-05;
}

.button {
  height: layout.$spacing-08;
  display: flex;
  align-content: flex-start;
  align-items: baseline;
  min-width: 20%;
}

.buttonSet {
  padding: 0rem;
  margin-top: layout.$spacing-05;
  display: flex;
  justify-content: flex-end;
  gap: layout.$spacing-05;
  margin-bottom: layout.$spacing-07;
}

.claimFormTitle {
  @include type.type-style('heading-02');
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: layout.$spacing-05 0 layout.$spacing-03;
  row-gap: 1.5rem;
  position: relative;

  &::after {
    content: '';
    display: block;
    width: 2rem;
    border-bottom: 0.375rem solid var(--brand-03);
    position: absolute;
    bottom: -0.75rem;
    left: 0;
  }

  & > span {
    @include type.type-style('body-01');
  }
}

:global(.omrs-breakpoint-lt-desktop) {
  .buttonSet {
    padding: layout.$spacing-06 layout.$spacing-05;
    background-color: colors.$white;
    justify-content: flex-end;
    gap: layout.$spacing-05;
  }
}

.formClaimRow {
  display: flex;
  flex-wrap: nowrap;
  gap: layout.$spacing-05;
}

.formClaimColumn {
  flex: 1 1 0%;
}

.loading {
  display: flex;
  flex-direction: column;
  min-width: 600px;
  min-height: 400px;
  background-color: colors.$white;
  padding: layout.$spacing-05;
  gap: layout.$spacing-05;
}
