@use '@carbon/colors';

.homePageWrapper {
  display: flex;
  width: 100%;
}

.dashboardContainer {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  margin: 0;
  height: calc(100vh - 3rem);
  width: calc(100% - 16rem);
  background-color: colors.$gray-10;

  & a {
    width: 100%;
  }

  &.hasLeftNav {
    margin-inline-start: 16rem;
  }
}

.dashboardContainerTablet {
  flex-grow: 1;
}

.logoSection {
  display: flex;
  justify-content: center;
}

.dashboardView {
  background-color: colors.$white-0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

// First Row: Bar Charts
.firstRow {
  background-color: colors.$white-0;
  padding: 1rem;
  border: 1px solid colors.$gray-20;
  border-radius: 4px;
}

// Second Row: 3 Metric Tiles
.secondRow {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.metricTile {
  flex: 1;
  background-color: colors.$white-0;
  padding: 1rem;
  border: 1px solid colors.$gray-20;
  border-radius: 2px;
}

// Third Row: Split Layout
.thirdRow {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.leftSection {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.verticalMetricTile {
  background-color: colors.$white-0;
  padding: 1rem;
  border: 1px solid colors.$gray-20;
  border-radius: 4px;
  flex: 1;
}

.rightSection {
  width: 70%;
  background-color: colors.$white-0;
  padding: 1rem;
  border: 1px solid colors.$gray-20;
  border-radius: 4px;
}
