@use '@carbon/layout';
@use '@carbon/type';
@use '@carbon/colors';
@import '~@openmrs/esm-styleguide/src/vars';

.formButton {
  height: layout.$spacing-09;
  display: flex;
  align-content: flex-start;
  align-items: baseline;
  min-width: layout.$spacing-09;
  margin-bottom: layout.$spacing-05;
}

.formButtonSet {
  margin-top: layout.$spacing-09;
  display: flex;
  justify-content: center;
}

.formSubHeader {
  @include type.type-style('heading-02');
  margin-top: layout.$spacing-05;
}
.formContainer {
  width: 100%;
}
.formGrid {
  margin: 0 layout.$spacing-05;
  padding: 0rem;
}
.form__gender {
  color: colors.$gray-70;
  display: inline-block;
  font-size: layout.$spacing-04;
  line-height: layout.$spacing-05;
  line-height: layout.$spacing-05;
  margin-bottom: layout.$spacing-03;
  vertical-align: baseline;
}
.form__header__section {
  @include type.type-style('heading-02');
  margin-top: layout.$spacing-04;
  margin-bottom: layout.$spacing-02;
}

.formAdmissionDatepicker input {
  min-width: 24rem;
}
.formTimeSelector {
  min-width: 1.5rem;
}
.form__row {
  display: flex;
  align-items: center;
}
.formDeathDatepicker input {
  min-width: 24rem;
}
.formDeathTimepicker input {
  min-width: 18.6rem;
}
.fileUploader {
  min-width: 24rem;
}
