@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/type';

.container {
  display: flex;
  margin: layout.$spacing-05;
  justify-content: space-between;
  column-gap: layout.$spacing-09;
  flex-flow: row wrap;
}
