@use '@carbon/layout';

.observation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: layout.$spacing-03;
  margin: layout.$spacing-05 layout.$spacing-05 layout.$spacing-05 0;
}

.observation > span {
  align-self: center;
}

.parentConcept {
  font-weight: bold;
}

.childConcept {
  padding-left: 0.8rem;
}

.questionText {
  font-weight: bold;
}
