@use '@carbon/type';
@use '@carbon/layout';
.button {
  height: layout.$spacing-10;
  display: flex;
  align-content: flex-start;
  align-items: baseline;
  min-width: 20%;
}

.heading {
  @include type.type-style('heading-compact-01');
  margin: layout.$spacing-05 0 layout.$spacing-05;
}

.buttonSet {
  padding: 0rem;
  margin-top: layout.$spacing-05;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: layout.$spacing-05;
}
