@use '@carbon/colors';
@use '@carbon/type';
@use '@carbon/layout';

.treeViewContainer {
  @include type.type-style('body-compact-02');
  padding: 0;
  margin: 0;
}
.folderIcon {
  margin-right: layout.$spacing-05;
  color: colors.$red-60;
}
.dirIcon {
  margin-right: layout.$spacing-05;
  color: colors.$yellow-60;
}

.treeView {
  &:global(.cds--tree-node) {
    &:focus {
      display: none;
    }
    &:hover {
      color: colors.$green-60;
    }
  }
}
