@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@use '@carbon/colors';
@use '@carbon/layout';
@import '~@openmrs/esm-styleguide/src/vars';

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.section {
  margin: spacing.$spacing-03;
}

.sectionTitle {
  @include type.type-style('heading-compact-02');
  color: $text-02;
  margin-bottom: spacing.$spacing-04;
}

.buttonLayout {
  margin-top: layout.$spacing-05;
  margin-bottom: layout.$spacing-01;
}

.button {
  margin-left: layout.$spacing-04;
  margin-top: layout.$spacing-05;
  margin-bottom: layout.$spacing-01;
}

.button_spinner {
  padding: 0;
  margin-right: 12px;
}
