@use '@carbon/layout';
@use '@carbon/type';
@use '@carbon/colors';

.chartContainer {
  padding: layout.$spacing-05;
}
.chart {
  margin-top: layout.$spacing-05;
}
.cummulativeChart{
  margin-top: layout.$spacing-05;
  width: 50%;
}
