@use '@carbon/layout';
@use '@carbon/type';
@use '@carbon/styles/scss/spacing';
@import '~@openmrs/esm-styleguide/src/vars';

.preAuthRequestContainer {
  background-color: $ui-02;
  border: 1px solid $ui-03;
  border-bottom: none;
  width: 100%;
  margin: 0 auto;
  max-width: 95vw;
  padding-bottom: 0;
}
.contentSwitcherWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: spacing.$spacing-05;
}
.contentSwitcher {
  width: 20rem;
}
