@use '@carbon/layout';
@use '@carbon/type';

.tableHeader {
  padding: 0 layout.$spacing-05 0 layout.$spacing-05;
}

.expanded_row_section {
  display: flex;
  align-items: center;

  h4 {
    margin-right: layout.$spacing-05;
  }
  gap: layout.$spacing-05;
  margin-bottom: layout.$spacing-05;
}
.header {
  @include type.type-style('heading-02');
}
.paragraph {
  font-size: 15px;
}

.claimsTable {
  padding: layout.$spacing-05;
}

.claimStatus {
  display: flex;
  align-items: center;
  gap: layout.$spacing-03;

  > :nth-child(2) {
    font-size: 0.7rem;
  }
}
