@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@use '@carbon/layout';
@use '@carbon/colors';

.heading {
  @include type.type-style('heading-compact-01');
  margin: spacing.$spacing-05 0 spacing.$spacing-05;
}

.grid {
  margin: spacing.$spacing-05 spacing.$spacing-05;
  padding: spacing.$spacing-05 0rem 0rem orem;
}

.buttonSet {
  width: 100%;
  padding-top: spacing.$spacing-05;
  background-color: colors.$white-0;
  justify-content: space-between;
  bottom: 0;
  position: absolute;
  & > button {
    max-width: 50% !important;
    width: 50%;
  }
}

.billingItem {
  margin-top: spacing.$spacing-10;
  overflow-x: auto;
}

.formTitle {
  @include type.type-style('heading-02');
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: spacing.$spacing-05;
  row-gap: 1.5rem;
  position: relative;

  &::after {
    content: '';
    display: block;
    width: 2rem;
    border-bottom: 0.375rem solid var(--brand-03);
    position: absolute;
    bottom: -0.75rem;
    left: 0;
  }

  & > span {
    @include type.type-style('body-01');
  }
}

.sectionHeader {
  @include type.type-style('heading-02');
}
.button {
  height: layout.$spacing-10;
  display: flex;
  align-content: flex-start;
  align-items: baseline;
  min-width: 50%;
}
