@use '@carbon/layout';
@use '@carbon/type';
@use '@carbon/colors';

.sectionContainer {
  margin: 0 layout.$spacing-03;
}

.sectionTitle {
  @include type.type-style('heading-compact-02');
  color: colors.$gray-70;
  margin: 0 0 layout.$spacing-03 0;
}
