@use '@carbon/layout';
@use '@carbon/type';
@use '@carbon/colors';

.container {
  background-color: colors.$white;
  margin-right: layout.$spacing-10;
}

.tabs {
  margin: 0 layout.$spacing-05;
}

.desktopHeading,
.tabletHeading {
  text-align: left;
  text-transform: capitalize;

  h4 {
    @include type.type-style('heading-compact-02');
    color: colors.$gray-70;
  }
}
