@use '@carbon/type';
@use '@carbon/colors';

.bodyShort02 {
  margin-bottom: 0.5rem;
  @include type.type-style('body-compact-02');
}

.providerMessage {
  @include type.type-style('heading-01');
  color: colors.$red-50;
  margin-top: 1.5rem;
}

.modalTitle {
  @include type.type-style('productive-heading-03');
  padding: 0.5rem 0;
}
