@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';

.section {
  margin: spacing.$spacing-03;
}

.sectionTitle {
  margin-bottom: spacing.$spacing-04;
}

.modalBody {
  padding-bottom: spacing.$spacing-05;
}
.instructions {
  margin-top: 1rem;
  white-space: pre-wrap;
}

.modalBody {
  :global(.cds--tooltip-trigger__wrapper) {
    visibility: hidden;
  }
}
