@use '@carbon/layout';

.table,
.errorStateSkeleton,
.dataTableSkeleton {
  padding: layout.$spacing-05;
}

.checkBoxWrapper {
  padding: layout.$spacing-05;
}

.dateRangePicker {
  flex-grow: unset;
}

.tableToolBar {
  position: relative;

  > * {
    position: relative;
    top: 0;

    > div {
      height: auto;
      align-items: center;
    }
  }
}

.skeletonIcon {
  width: layout.$spacing-09;
  height: layout.$spacing-09;
  margin-right: layout.$spacing-05;
}
