@use '@carbon/layout';
@use '@carbon/type';
@use '@carbon/colors';

.cardcontainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: layout.$spacing-05;
    padding: 0 layout.$spacing-05;
}

.summaryCard {
    position: relative;
    border: colors.$gray-20 solid 1px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: layout.$spacing-05;

    &>h4 {
        font-weight: bold;
        color: colors.$gray-80;
        margin-bottom: layout.$spacing-03;
    }

    &>p {
        color: colors.$gray-60;
        font-size: small;
    }

    &>strong {
        color: colors.$gray-60;
        text-transform: uppercase;
    }

    &>span {
        position: absolute;
        right: layout.$spacing-05;
        top: layout.$spacing-05;
    }
}

.upIcon {
    color: colors.$red-50;
}

.downIcon {
    color: colors.$green-50;
}