@use '@carbon/layout';
@use '@carbon/type';
@use '@carbon/colors';

.cardcontainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: layout.$spacing-05;
  padding: 0 layout.$spacing-05;
}

.summaryCard {
  position: relative;
  border: colors.$gray-20 solid 1px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: layout.$spacing-05;

  & > p {
    color: colors.$gray-60;
    font-size: small;
  }

  & > strong {
    color: colors.$gray-60;
  }
}

.summaryValue {
  font-weight: bold;
  color: colors.$gray-80;
  margin-bottom: layout.$spacing-03;
}

.valueAndPercentageRow {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: layout.$spacing-01;
}

.indications {
  position: absolute;
  right: layout.$spacing-05;
  top: layout.$spacing-05;
}

.percentage {
  color: colors.$gray-60;
  font-size: small;
}

.upIcon {
  color: colors.$red-50;
}

.downIcon {
  color: colors.$green-50;
}
