@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/type';

.container {
  margin: 1rem;
}

.emptyStateContainer {
  @extend .container;
}

.illo {
  margin-top: layout.$spacing-05;
}

.content {
  @include type.type-style('heading-compact-01');
  color: colors.$gray-70;
  margin-top: layout.$spacing-05;
  margin-bottom: layout.$spacing-03;
}

.tile {
  border: 1px solid colors.$gray-20;
  padding: 1.5rem 0;
  text-align: center;
}
