@use '@carbon/layout';
@use '@carbon/type';
@use '@carbon/colors';

.contentSwitcherWrapper {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: layout.$spacing-04;
  margin: layout.$spacing-05;
}

.contentSwitcher {
  width: 50%;
  min-width: layout.$spacing-09;
}

.rightButton {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
