@use '@carbon/layout';
@use '@carbon/colors';
@import '~@openmrs/esm-styleguide/src/vars';

.table,
.emptyStateWrapper,
.errorStateSkeleton,
.dataTableSkeleton {
  padding: layout.$spacing-05;
}

.checkBoxWrapper {
  padding: layout.$spacing-05;
}

.dateRangePicker {
  flex-grow: unset;
}

.tableToolBar {
  position: relative;

  > * {
    position: relative;
    top: 0;

    > div {
      height: auto;
      align-items: center;
    }
  }
}

.skeletonIcon {
  width: layout.$spacing-09;
  height: layout.$spacing-09;
  margin-right: layout.$spacing-05;
}

.paymentTotals {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: layout.$spacing-05;
  margin-bottom: layout.$spacing-05;
}

.paymentTotal {
  color: colors.$blue-60;
}

.tile {
  border: 1px solid $ui-03;
}

.tagWrapper {
  display: flex;
  align-items: center;
  border: 1px solid $ui-03;
  gap: layout.$spacing-03;
  padding: layout.$spacing-03;
}
