@use '@carbon/layout';
@use '@carbon/type';
@use '@carbon/colors';

.modalContainer {
  display: flex;
  justify-content: center;
  gap: layout.$spacing-05;
  margin-top: layout.$spacing-03;
  margin-bottom: layout.$spacing-10;
  height: auto;
  align-items: center;
  width: 100%;
}

.identifierTypeColumn {
  margin-top: layout.$spacing-05;
  margin-bottom: layout.$spacing-10;
  flex-grow: 1;
  min-width: 250px;
}

.identifierTypeHeader {
  color: colors.$gray-70;
  display: inline-block;
  font-size: layout.$spacing-04;
  line-height: layout.$spacing-05;
  margin-bottom: layout.$spacing-03;
  vertical-align: baseline;
}
