@use '@carbon/layout';
@use '@carbon/type';
@use '@carbon/colors';
@use '~@openmrs/esm-styleguide/src/vars' as *;
.header {
  @include type.type-style('body-compact-02');
  color: $text-02;
  height: layout.$spacing-12;
  background-color: $ui-02;
  border: 1px solid $ui-03;
  border-left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: layout.$spacing-07;
  margin-right: 0;
  overflow-x: hidden;
  padding: 0 layout.$spacing-05;
}

.left-justified-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: layout.$spacing-04;
}

.page-name {
  @include type.type-style('heading-04');
}

.page-labels {
  margin-left: layout.$spacing-05;

  p:first-of-type {
    margin-bottom: layout.$spacing-02;
  }
}

svg.iconOverrides {
  width: 72 !important;
  height: 72 !important;
  fill: var(--brand-03);
}

.svgContainer svg {
  width: layout.$spacing-11;
  height: layout.$spacing-11;
  fill: var(--brand-03);
}

.metrics {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: layout.$spacing-06;
  flex-wrap: wrap;
  padding: layout.$spacing-04 layout.$spacing-05 0 0;
  margin-right: layout.$spacing-10;
  width: auto;
  height: auto;
}

.wrapMetrics {
  width: auto;
  height: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: layout.$spacing-03;
  padding: 0;
  min-width: layout.$spacing-12;
}

.metricLabel {
  flex-grow: 0;
  font-size: layout.$spacing-04;
  line-height: 1.33;
  letter-spacing: 0.32px;
  color: $text-02;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.metricValue {
  flex-grow: 0;
  font-family: IBMPlexSans;
  font-size: layout.$spacing-06;
  line-height: 1.4;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.metricLocationDate {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: layout.$spacing-05;
  width: auto;
  max-width: 120px;
}

.location,
.date {
  display: flex;
  align-items: center;
  font-size: layout.$spacing-05;
  line-height: 1.33;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.location {
  margin-bottom: layout.$spacing-02;
}

@media (max-width: 768px) {
  .metrics {
    gap: 12px;
    margin-right: layout.$spacing-05;
  }

  .wrapMetrics {
    min-width: layout.$spacing-11;
  }

  .metricLabel,
  .metricValue {
    font-size: layout.$spacing-04;
  }
}
