@use '@carbon/layout';
@use '@carbon/type';
@use '@carbon/colors';
.header {
  @include type.type-style('body-compact-02');
  height: layout.$spacing-12;
  border-left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: layout.$spacing-07;
  margin-right: 0;
  overflow-x: hidden;
  padding: 0 layout.$spacing-05;
}

.left-justified-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: layout.$spacing-04;
}

.page-name {
  @include type.type-style('heading-04');
}

.page-labels {
  p:first-of-type {
    margin-bottom: layout.$spacing-02;
  }
}

svg.iconOverrides {
  width: 72 !important;
  height: 72 !important;
  fill: var(--brand-03);
}

.svgContainer svg {
  width: layout.$spacing-11;
  height: layout.$spacing-11;
  fill: var(--brand-03);
}

.left-justified-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  align-items: center;
}

.right-justified-items {
  @include type.type-style('body-compact-02');
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-name {
  @include type.type-style('heading-04');
}

.page-labels {
  margin: layout.$spacing-05;

  p:first-of-type {
    margin-bottom: layout.$spacing-02;
  }
}

.date-and-location {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.userContainer {
  display: flex;
  justify-content: flex-end;
  gap: layout.$spacing-05;
}

.value {
  margin-left: layout.$spacing-02;
}

.middot {
  margin: 0 layout.$spacing-03;
}

.view {
  @include type.type-style('label-01');
}
