@use '@carbon/colors';
@use '@carbon/layout';

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  margin-right: layout.$spacing-05;
  fill: colors.$gray-70;
}

.dashboardLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  background-color: transparent;
  color: var(--cds-text-secondary);

  &.active {
    background-color: var(--cds-background-active);
    color: var(--cds-text-primary);
  }
}
