@use '@carbon/styles/scss/type';
@use '@carbon/styles/scss/spacing';
@use '@carbon/colors';
@import '~@openmrs/esm-styleguide/src/vars';

.bodyContainer {
  margin: spacing.$spacing-03;
}

.desktopHeading {
  h4 {
    @include type.type-style('heading-compact-02');
    color: $text-02;
  }
}

.tabletHeading {
  h4 {
    @include type.type-style('heading-03');
    color: $text-02;
  }
}

.desktopHeading,
.tabletHeading {
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  margin-bottom: spacing.$spacing-02;
  margin-top: spacing.$spacing-02;

  h4:after {
    content: '';
    display: block;
    width: 2rem;
    padding-top: 0.188rem;
    border-bottom: 0.375rem solid var(--brand-03);
  }
}

.heading:after {
  content: '';
  display: block;
  width: 2rem;
  padding-top: 0.188rem;
  border-bottom: 0.375rem solid var(--brand-03);
}

.card {
  background-color: $ui-02;
  padding: spacing.$spacing-04;
}

.value {
  @include type.type-style('productive-heading-03');
  color: colors.$gray-100;
}

.label {
  @include type.type-style('label-01');
  color: $text-02;
}

.container {
  display: flex;
  flex-direction: row;
  padding-left: 1rem;
  // flex-wrap: wrap;
}

.content {
  margin-top: spacing.$spacing-05;
  width: 30%;
  margin-left: spacing.$spacing-03;
}

.btnHidden {
  visibility: hidden;
}

.btnShow {
  visibility: visible;
}

.verticalTabs {
  margin: 1rem 0;
  scroll-behavior: smooth;

  > ul {
    flex-direction: column !important;
  }

  :global(.cds--tabs--scrollable .cds--tabs--scrollable__nav-item+.cds--tabs--scrollable__nav-item) {
    margin-left: 0rem;
  }

  :global(.cds--tabs--scrollable .cds--tabs--scrollable__nav-link) {
    border-bottom: 0 !important;
    border-left: 2px solid $color-gray-30;
  }
}

.tab {
  outline: 0;
  outline-offset: 0;

  &:active, &:focus {
    outline: 2px solid var(--brand-03) !important;
  }

  &[aria-selected="true"] {
    border-left: 3px solid var(--brand-03);
    border-bottom: none;
    font-weight: 600;
    margin-left: 0rem !important;
  }

  &[aria-selected="false"] {
    border-bottom: none;
    border-left: 2px solid $ui-03;
    margin-left: 0rem !important;
  }
}

.tablist {
  :global(.cds--tab--list) {
    flex-direction: column;
    max-height: fit-content;
    overflow-x: visible;
  }
  
  > button :global(.cds--tabs .cds--tabs__nav-link) {
    border-bottom: none;
  }
}

.flexSections {
  display: flex;
}

.desktopTabs {
  button {
    height: 32px;
  }
}

.tabletTabs {
  button {
    height: 48px;
  }
}

.tabContent {
  border-top: 1px solid $ui-03;
  padding: 1rem 0;
  width: 70%;
}

.summaryContainer {
  background-color: $ui-background;
  display: grid;
  grid-template-columns: max-content auto;
  padding: 1rem 0rem;

  :global(.cds--tabs) {
    max-height: 30rem;
  }
}
