@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/type';

.container {
  height: calc(100vh - 3rem);
  button {
    height: auto !important;
  }

  form {
    border: none;
  }
}

.billsTableContainer {
  margin: layout.$spacing-03 layout.$spacing-01;
}
.emptyStateContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  background-color: colors.$gray-10;
  row-gap: layout.$spacing-02;

  & form {
    border: none;
  }

  svg {
    width: 190px;
    height: 90px;
  }

  .title {
    @include type.type-style('heading-01');
    color: colors.$cool-gray-70;
  }

  .subTitle {
    @include type.type-style('body-compact-01');
    color: colors.$cool-gray-70;
  }
}

.patientSearchExtensionContainer {
  & form {
    border: none;
  }
}
