@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '@openmrs/esm-styleguide/src/vars';

.desktopTile {
  border-left: 4px solid #18cd69;
  background-color: $ui-02;
  border-top: 1px solid #8ecdaa;
  border-right: none;
  padding: 0;
}

.tabletTile {
  @extend .desktopTile;
  border-top: 1px solid #0ec862;
}

.collapsedTile {
  border-bottom: none;
  min-height: 0;

  .orderBasketHeader {
    margin-bottom: 0;
  }
}

.tabletTile.collapsedTile {
  border-bottom: 1px solid $grey-2;
}

.container {
  background-color: $ui-02;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.desktopTile .container {
  h4 {
    @include type.type-style('heading-compact-02');
    color: $text-02;
  }
}

.tabletTile .container {
  padding: spacing.$spacing-03;

  h4 {
    @include type.type-style('heading-03');
    color: $ui-05;
  }
}

.heading {
  margin-left: spacing.$spacing-03;
}

.iconAndLabel {
  display: flex;
  align-items: center;
  margin: spacing.$spacing-03;
}

.buttonContainer {
  display: flex;
  align-items: center;
}

.chevron {
  svg {
    fill: black;
  }
}
