@use '@carbon/colors';
@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@use '~@openmrs/esm-styleguide/src/vars' as *;

.relationshipTabs {
  grid-column: span 2;
}

.relationshipTablist {
  padding: 0 spacing.$spacing-05;
}

.relationshipTab {
  min-width: 8.875rem;

  &:active {
    outline: 2px solid var(--brand-03) !important;
  }

  &:focus {
    outline: 2px solid var(--brand-03) !important;
  }

  &[aria-selected='true'] {
    box-shadow: inset 0 2px 0 0 var(--brand-03) !important;
  }
}
