@use '@carbon/layout';
@use '@carbon/type';
@use '@carbon/colors';

.svgContainer svg {
  width: layout.$spacing-09;
  height: layout.$spacing-09;
  margin-right: layout.$spacing-06;
  fill: var(--brand-03);
}
