@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';

.tileContainer {
  border: 0.0625rem solid $ui-03;
  flex-grow: 1;
  height: 7.875rem;
  padding: 0 spacing.$spacing-05;
  margin: spacing.$spacing-03 spacing.$spacing-03;
}

.tileHeader {
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  justify-content: space-between;
  padding: 0.5rem;
}

.headerLabel {
  font-size: var(--cds-heading-compact-01-font-size, 0.875rem);
  font-weight: var(--cds-heading-compact-01-font-weight, 600);
  line-height: var(--cds-heading-compact-01-line-height, 1.28572);
  letter-spacing: var(--cds-heading-compact-01-letter-spacing, 0.16px);
  color: #525252;
}

.totalsLabel {
  font-size: var(--cds-label-01-font-size, 0.75rem);
  font-weight: var(--cds-label-01-font-weight, 400);
  line-height: var(--cds-label-01-line-height, 1.33333);
  letter-spacing: var(--cds-label-01-letter-spacing, 0.32px);
  color: #525252;
}

.totalsValue {
  font-size: var(--cds-heading-04-font-size, 1.75rem);
  font-weight: var(--cds-heading-04-font-weight, 400);
  line-height: var(--cds-heading-04-line-height, 1.28572);
  letter-spacing: var(--cds-heading-04-letter-spacing, 0);
  color: #161616;
}

.headerLabelContainer {
  display: flex;
  align-items: center;
  height: spacing.$spacing-07;
}

.arrowIcon {
  fill: var(--cds-link-primary, #0f62fe) !important;
}
