@use '@carbon/layout';
@use '@carbon/type';
@use '@carbon/colors';

.filtersContainer {
  margin: 0 layout.$spacing-05 layout.$spacing-05 layout.$spacing-05;
  display: flex;
  flex-direction: row;
  gap: layout.$spacing-05;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.filterInput {
  width: 330px;
}

.cardHeaderContainer {
  flex: 1;
}

.dropdownContainer {
  margin-left: auto;
}
