@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@use '@carbon/styles/scss/colors';
@use '@carbon/layout';
@import '~@openmrs/esm-styleguide/src/vars';

.heading {
  @include type.type-style('heading-compact-01');
  margin: spacing.$spacing-05 0 spacing.$spacing-05;
}

.warningContainer {
  background-color: $carbon--red-50;
  padding: spacing.$spacing-04;
  margin: spacing.$spacing-03 0 spacing.$spacing-03;
  display: flex;
  justify-content: space-between;
  .warning {
    @include type.type-style('heading-compact-01');
    color: $ui-05;
  }
}

.datePickerInput span,
.datePickerInput div,
.datePickerInput input,
.datePickerInput {
  min-width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.grid {
  margin: layout.$spacing-05 layout.$spacing-05;
  padding: layout.$spacing-05 0 0 0;
}

.button {
  display: flex;
  align-content: flex-start;
  align-items: baseline;
  min-width: 50%;
}

.buttonSet {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.textbox {
  margin-bottom: spacing.$spacing-08;
}


.sectionHeader {
  @include type.type-style('heading-02');
  margin-top: spacing.$spacing-05;
}

:global(.omrs-breakpoint-lt-desktop) {
  .form {
    height: var(--tablet-workspace-window-height);
  }

  .buttonSet {
    padding: spacing.$spacing-06 spacing.$spacing-05;
    background-color: $ui-02;
    justify-content: flex-end;
    gap: spacing.$spacing-05;
    padding: 0;
    margin-top: auto;
    display: flex;
    justify-content: end;
  }
}

.widgetContainer {
  background-color: colors.$white-0;
  border: 1px solid colors.$gray-20;
  margin-bottom: 1rem;
}

.widgetContainer :global(.cds--data-table) thead th button span {
  height: unset !important;
}

.tile {
  text-align: center;
}

.emptyStateContainer {
  margin: 2rem 0;
}

.content {
  @include type.type-style('heading-compact-01');
  color: colors.$gray-70;
  margin-top: layout.$layout-05;
  margin-bottom: layout.$spacing-03;
}

.desktopHeading,
.tabletHeading {
  text-align: left;
  text-transform: capitalize;

  h4 {
    @include type.type-style('heading-compact-02');
    color: colors.$gray-70;

    &:after {
      content: '';
      display: block;
      width: 2rem;
      padding-top: 3px;
      border-bottom: 0.375rem solid;
      @include brand-03(border-bottom-color);
    }
  }
}
